<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:app.properties" />
	</bean>
	<context:property-placeholder location="classpath:app.properties"/>

	
	<bean class="com.xinghua24.Foo" id="foo">
		<property name="value1" value="${properties.property1}" />
		<property name="value2" value="${properties.property2}" />
		<property name="value3" value="${properties.property3}" />
	</bean>
</beans>