<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="serviceA" class="com.xinghua24.AUserService"></bean>
	
	<bean id="serviceB" class="com.xinghua24.BUserService"></bean>
	
	<bean id="userView" class="com.xinghua24.UserView">
		<constructor-arg  name="userService" ref="serviceA" />
	</bean>
</beans>