<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="foo" class="com.xinghua24.Foo"  factory-method="getInstance" />
	
	<bean id="objectFactory" class="com.xinghua24.ObjectFactory" />
	<bean id="bar" class="com.xinghua24.Bar" factory-bean="objectFactory" factory-method="getBar" />
</beans>